@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --p-font-family-1: 'Inter', sans-serif;
}

body {
  background-color: var(--p-surface-1);
}

#color-scheme-form {
  border: none;
}

#color-scheme-group {
  border: none;
}