/* Button Sizing */

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  word-break: keep-all;
  outline: none;
  border-radius: 8px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: var(--inter);
  font-weight: 600;
  text-transform: uppercase;
  /* Default button size is "md" */
  font-size: 12px;
  line-height: 24px;
  padding: 7px 20px;
}

button:disabled {
  cursor: not-allowed;
}

.btn-xs,
button[p-size="xs"] {
  font-size: 8px;
  padding: 0 16px;
  line-height: 18px;
  border-radius: 6px;
}

.bnt-sm,
button[p-size="sm"] {
  font-size: 10px;
  line-height: 14px;
  padding: 6px 16px;
}

.btn-md,
button[p-size="md"] {
  font-size: 12px;
  line-height: 24px;
  padding: 7px 20px;
}

.btn-lg,
button[p-size="lg"] {
  font-size: 16px;
  padding: 8px 26px;
}

.btn-xl,
button[p-size="xl"] {
  font-size: 20px;
  line-height: 20px;
  padding: 16px 32px;
}

.btn-solid,
button[p-type="solid"] {
  background-color: var(--bgd-dark-5);
  color: var(--white)
}

.btn-outline,
button[p-type="outline"] {
  background-color: var(--bgd-1);
  border-style: solid;
}

button[p-type="link"] {
  border-radius: var(--border-radius-3);
}

/* Primary */

button[p-type="solid"][p-style="primary"] {
  background-color: var(--primary-2);
}

button[p-type="solid"][p-style="primary"]:hover {
  background-color: var(--primary-3);
}

button[p-type="solid"][p-style="primary"]:focus {
  /* TODO */
}

button[p-type="solid"][p-style="primary"]:active {
  background-color: var(--primary-1);
}

button[p-type="solid"][p-style="primary"]:disabled {
  background-color: #e4e4ec;
}



button[p-type="outline"][p-style="primary"] {
  border-color: var(--primary-2);
  color: var(--button-typo-primary-1);
}

button[p-type="outline"][p-style="primary"]:hover {
  border-color: var(--primary-3);
  color: var(--primary-3);
}

button[p-type="outline"][p-style="primary"]:active {
  border-color: var(--primary-1);
  color: var(--primary-1);
}


button[p-type="link"][p-style="primary"] {
  color: var(--primary-2);
  box-shadow: var(--shadow-light-2);
}

button[p-type="link"][p-style="primary"]:hover {
  color: var(--primary-3);
}

button[p-type="link"][p-style="primary"]:active {
  color: var(--primary-1);
}

/* Secondary */ 

button[p-type="solid"][p-style="secondary"] {
  background-color: var(--secondary-2);
}

button[p-type="solid"][p-style="secondary"]:hover {
  background-color: var(--secondary-3);
}

button[p-type="solid"][p-style="secondary"]:focus {
  /* TODO */
}

button[p-type="solid"][p-style="secondary"]:active {
  background-color: var(--secondary-1);
}

button[p-type="solid"][p-style="secondary"]:disabled {
  background-color: #e4e4ec;
}



button[p-type="outline"][p-style="secondary"] {
  border-color: var(--secondary-2);
  color: var(--secondary-2);
}

button[p-type="outline"][p-style="secondary"]:hover {
  border-color: var(--secondary-3);
  color: var(--secondary-3);
}

button[p-type="outline"][p-style="secondary"]:active {
  border-color: var(--secondary-1);
  color: var(--secondary-1);
}


button[p-type="link"][p-style="secondary"] {
  color: var(--secondary-2);
  box-shadow: var(--shadow-light-2);
}

button[p-type="link"][p-style="secondary"]:hover {
  color: var(--secondary-3);
}

button[p-type="link"][p-style="secondary"]:active {
  color: var(--secondary-1);
}

/* Tertiary */ 
button[p-type="solid"][p-style="tertiary"] {
  background-color: var(--tertiary-2);
}

button[p-type="solid"][p-style="tertiary"]:hover {
  background-color: var(--tertiary-3);
}

button[p-type="solid"][p-style="tertiary"]:focus {
  /* TODO */
}

button[p-type="solid"][p-style="tertiary"]:active {
  background-color: var(--tertiary-1);
}

button[p-type="solid"][p-style="tertiary"]:disabled {
  background-color: #e4e4ec;
}



button[p-type="outline"][p-style="tertiary"] {
  border-color: var(--tertiary-2);
  color: var(--tertiary-2);
}

button[p-type="outline"][p-style="tertiary"]:hover {
  border-color: var(--tertiary-3);
  color: var(--tertiary-3);
}

button[p-type="outline"][p-style="tertiary"]:active {
  border-color: var(--tertiary-1);
  color: var(--tertiary-1);
}


button[p-type="link"][p-style="tertiary"] {
  color: var(--tertiary-2);
  box-shadow: var(--shadow-light-2);
}

button[p-type="link"][p-style="tertiary"]:hover {
  color: var(--tertiary-3);
}

button[p-type="link"][p-style="tertiary"]:active {
  color: var(--tertiary-1);
}

/* Success */ 
button[p-type="solid"][p-style="success"] {
  background-color: var(--success-2);
}

button[p-type="solid"][p-style="success"]:hover {
  background-color: var(--success-3);
}

button[p-type="solid"][p-style="success"]:focus {
  /* TODO */
}

button[p-type="solid"][p-style="success"]:active {
  background-color: var(--success-1);
}

button[p-type="solid"][p-style="success"]:disabled {
  background-color: #e4e4ec;
}



button[p-type="outline"][p-style="success"] {
  border-color: var(--success-2);
  color: var(--success-2);
}

button[p-type="outline"][p-style="success"]:hover {
  border-color: var(--success-3);
  color: var(--success-3);
}

button[p-type="outline"][p-style="success"]:active {
  border-color: var(--success-1);
  color: var(--success-1);
}


button[p-type="link"][p-style="success"] {
  color: var(--success-2);
  box-shadow: var(--shadow-light-2);
}

button[p-type="link"][p-style="success"]:hover {
  color: var(--success-3);
}

button[p-type="link"][p-style="success"]:active {
  color: var(--success-1);
}

/* Error */ 
button[p-type="solid"][p-style="error"] {
  background-color: var(--error-2);
}

button[p-type="solid"][p-style="error"]:hover {
  background-color: var(--error-3);
}

button[p-type="solid"][p-style="error"]:focus {
  /* TODO */
}

button[p-type="solid"][p-style="error"]:active {
  background-color: var(--error-1);
}

button[p-type="solid"][p-style="error"]:disabled {
  background-color: #e4e4ec;
}



button[p-type="outline"][p-style="error"] {
  border-color: var(--error-2);
  color: var(--error-2);
}

button[p-type="outline"][p-style="error"]:hover {
  border-color: var(--error-3);
  color: var(--error-3);
}

button[p-type="outline"][p-style="error"]:active {
  border-color: var(--error-1);
  color: var(--error-1);
}


button[p-type="link"][p-style="error"] {
  color: var(--error-2);
  box-shadow: var(--shadow-light-2);
}

button[p-type="link"][p-style="error"]:hover {
  color: var(--error-3);
}

button[p-type="link"][p-style="error"]:active {
  color: var(--error-1);
}


.btn-xs:hover {
  background-color: var(--dark-teal);
}

.btn-xs:focus {
  outline: none;
}

.btn-xs:active {
  background-color: rgb(34, 34, 34);
}

.btn-sm {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
  background-color: var(--teal);
  color: var(--white);
  word-break: keep-all;
  padding: 0 24px;
  margin: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  border-radius: 4px;
  transition: color .25s, background-color .25s;
  height: 32px;
}

.btn-sm:hover {
  background-color: var(--dark-teal);
}

.btn-sm:focus {
  outline: none;
}

.btn-sm:active {
  background-color: rgb(34, 34, 34);
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--teal);
  color: var(--white);
  word-break: keep-all;
  font-size: 16px;
  padding: 0 24px;
  margin: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  border-radius: 4px;
  transition: color .25s, background-color .25s;
  height: 40px;
}

.btn:hover {
  background-color: var(--dark-teal);
}

.btn:focus {
  outline: none;
}

.btn:active {
  background-color: rgb(34, 34, 34);
}

.btn-xs:disabled,
.btn-sm:disabled,
.btn:disabled,
.btn-lg:disabled,
.btn-xl:disabled {
  background-color: #c4c4c4;
  cursor: not-allowed;
}

.btn-lg {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 16px;
  background-color: var(--teal);
  color: var(--white);
  word-break: keep-all;
  min-width: 6rem;
  min-height: 44px;
  padding: 0.8rem 2rem;
  margin: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  border-radius: 4px;
  transition: color .25s, background-color .25s;
}

.btn-lg:hover {
  background-color: var(--dark-teal);
}

.btn-lg:focus {
  outline: none;
}

.btn-lg:active {
  background-color: rgb(34, 34, 34);
}

.btn-xl {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 18px;
  background-color: var(--teal);
  color: var(--white);
  word-break: keep-all;
  padding: .7rem 2.2rem;
  margin: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  border-radius: 4px;
  transition: color .25s, background-color .25s;
}

.btn-xl:hover {
  background-color: var(--dark-teal);
}

.btn-xl:focus {
  outline: none;
}

.btn-xl:active {
  background-color: rgb(34, 34, 34);
}

/* Button Primary */
.btn-primary {
  color: #FFF;
  color: var(--color-white);
  background: #0074CC;
  background: var(--color-primary);
  box-shadow: 0 2px 8px 0 rgba(0, 116, 204, 0.24);
}

.btn-primary:hover {
  color: #FFF;
  color: var(--color-white);
  background: rgb(0, 104, 184);
}

.btn-primary:active {
  color: #FFF;
  color: var(--color-white);
  background: rgb(0, 81, 143);
}

.btn-primary:disabled {
  opacity: 50%;
  background: #0074CC;
  background: var(--color-primary);
}

/* Button Secondary */
.btn-secondary {
  color: #FFF;
  color: var(--color-white);
  background: #790033;
  background: var(--color-secondary);
}

.btn-secondary:hover {
  color: #FFF;
  color: var(--color-white);
  background: rgb(109, 0, 46);
}

.btn-secondary:active {
  color: #FFF;
  color: var(--color-white);
  background: rgb(85, 0, 36);
}

.btn-secondary:disabled {
  opacity: 50%;
  background: #790033;
  background: var(--color-secondary);
}

/* Button Tertiary */
.btn-tertiary {
  color: #FFF;
  color: var(--color-white);
  background: #E6AD23;
  background: var(--color-tertiary);
}

.btn-tertiary:hover {
  color: #FFF;
  color: var(--color-white);
  background: rgb(207, 156, 32);
}

.btn-tertiary:active {
  color: #FFF;
  color: var(--color-white);
  background: rgb(161, 121, 25);
}

.btn-tertiary:disabled {
  opacity: 50%;
  background: #E6AD23;
  background: var(--color-tertiary);
}

/* Button Success */
.btn-success {
  color: #FFF;
  color: var(--color-white);
  background: #34C299;
  background: var(--color-success);
}

.btn-success:hover {
  color: #FFF;
  color: var(--color-white);
  background: rgb(47, 175, 138);
}

.btn-success:active {
  color: #FFF;
  color: var(--color-white);
  background: rgb(36, 136, 107);
}

.btn-success:disabled {
  opacity: 50%;
  background: #34C299;
  background: var(--color-success);
}

/* Button Error */
.btn-error {
  color: #FFF;
  color: var(--color-white);
  background: #DE3428;
  background: var(--color-error);
}

.btn-error:hover {
  color: #FFF;
  color: var(--color-white);
  background: rgb(200, 47, 36);
}

.btn-error:active {
  color: #FFF;
  color: var(--color-white);
  background: rgb(155, 36, 28);
}

.btn-error:disabled {
  opacity: 50%;
  background: #DE3428;
  background: var(--color-error);
}

/* Button Warning */
.btn-warning {
  color: #FFF;
  color: var(--color-white);
  background: #DE3428;
  background: var(--color-warning);
}

.btn-warning:hover {
  color: #FFF;
  color: var(--color-white);
  background: rgb(200, 47, 36);
}

.btn-warning:active {
  color: #FFF;
  color: var(--color-white);
  background: rgb(155, 36, 28);
}

.btn-warning:disabled {
  opacity: 50%;
  background: #DE3428;
  background: var(--color-warning);
}

/* Button Warning */
.btn-info {
  color: #FFF;
  color: var(--color-white);
  background: #16A2B8;
  background: var(--color-info);
}

.btn-info:hover {
  color: #FFF;
  color: var(--color-white);
  background: rgb(20, 146, 166);
}

.btn-info:active {
  color: #FFF;
  color: var(--color-white);
  background: rgb(15, 113, 129);
}

.btn-info:disabled {
  opacity: 50%;
  background: #16A2B8;
  background: var(--color-info);
}

/* Button Outlines */
.btn-xs.btn-outline,
.btn-xs.btn-outline-primary,
.btn-xs.btn-outline-secondary,
.btn-xs.btn-outline-tertiary,
.btn-xs.btn-outline-success,
.btn-xs.btn-outline-error,
.btn-xs.btn-outline-warning,
.btn-xs.btn-outline-info,
.btn-sm.btn-outline,
.btn-sm.btn-outline-primary,
.btn-sm.btn-outline-secondary,
.btn-sm.btn-outline-tertiary,
.btn-sm.btn-outline-success,
.btn-sm.btn-outline-error,
.btn-sm.btn-outline-warning,
.btn-sm.btn-outline-info {
  background-color: #FFF;
  background-color: var(--color-white);
  border-radius: 8px;
  word-break: keep-all;
  box-shadow: 0 2px 8px 0 rgba(0, 116, 204, 0.16);
}

.btn.btn-outline,
.btn.btn-outline-primary,
.btn.btn-outline-secondary,
.btn.btn-outline-tertiary,
.btn.btn-outline-success,
.btn.btn-outline-error,
.btn.btn-outline-warning,
.btn.btn-outline-info,
.btn-lg.btn-outline,
.btn-lg.btn-outline-primary,
.btn-lg.btn-outline-secondary,
.btn-lg.btn-outline-tertiary,
.btn-lg.btn-outline-success,
.btn-lg.btn-outline-error,
.btn-lg.btn-outline-warning,
.btn-lg.btn-outline-info {
  background-color: #FFF;
  background-color: var(--color-white);
  border-radius: 8px;
  word-break: keep-all;
  box-shadow: 0 2px 8px 0 rgba(0, 116, 204, 0.16);
}

.btn-xl.btn-outline,
.btn-xl.btn-outline-primary,
.btn-xl.btn-outline-secondary,
.btn-xl.btn-outline-tertiary,
.btn-xl.btn-outline-success,
.btn-xl.btn-outline-error,
.btn-xl.btn-outline-warning,
.btn-xl.btn-outline-info {
  background-color: #FFF;
  background-color: var(--color-white);
  border-radius: 8px;
  word-break: keep-all;
  box-shadow: 0 2px 8px 0 rgba(0, 116, 204, 0.16);
}

.btn-xs.btn-outline:disabled,
.btn-xs.btn-outline-primary:disabled,
.btn-xs.btn-outline-secondary:disabled,
.btn-xs.btn-outline-tertiary:disabled,
.btn-xs.btn-outline-success:disabled,
.btn-xs.btn-outline-error:disabled,
.btn-xs.btn-outline-warning:disabled,
.btn-xs.btn-outline-info:disabled,
.btn-sm.btn-outline:disabled,
.btn-sm.btn-outline-primary:disabled,
.btn-sm.btn-outline-secondary:disabled,
.btn-sm.btn-outline-tertiary:disabled,
.btn-sm.btn-outline-success:disabled,
.btn-sm.btn-outline-error:disabled,
.btn-sm.btn-outline-warning:disabled,
.btn-sm.btn-outline-info:disabled,
.btn.btn-outline:disabled,
.btn.btn-outline-primary:disabled,
.btn.btn-outline-secondary:disabled,
.btn.btn-outline-tertiary:disabled,
.btn.btn-outline-success:disabled,
.btn.btn-outline-error:disabled,
.btn.btn-outline-warning:disabled,
.btn.btn-outline-info:disabled,
.btn-lg.btn-outline:disabled,
.btn-lg.btn-outline-primary:disabled,
.btn-lg.btn-outline-secondary:disabled,
.btn-lg.btn-outline-tertiary:disabled,
.btn-lg.btn-outline-success:disabled,
.btn-lg.btn-outline-error:disabled,
.btn-lg.btn-outline-warning:disabled,
.btn-lg.btn-outline-info:disabled,
.btn-xl.btn-outline:disabled,
.btn-xl.btn-outline-primary:disabled,
.btn-xl.btn-outline-secondary:disabled,
.btn-xl.btn-outline-tertiary:disabled,
.btn-xl.btn-outline-success:disabled,
.btn-xl.btn-outline-error:disabled,
.btn-xl.btn-outline-warning:disabled,
.btn-xl.btn-outline-info:disabled {
  opacity: 50%;
  /* background-color: transparent; */
  /* border-color: gray; */
  /* color: gray; */
}

.btn-outline {
  color: #0c0c0c;
  color: var(--color-black);
}

.btn-outline:hover {
  background-color: rgb(231, 231, 231);
}

.btn-outline:active {
  color: rgb(158, 158, 158);
}

.btn-outline-primary {
  color: #0074CC;
  color: var(--color-primary);
}

.btn-outline-primary:hover {
  background-color: rgb(230, 241, 250);
}

.btn-outline-primary:active {
  color: rgb(153, 199, 235);
}

.btn-outline-secondary {
  color: #790033;
  color: var(--color-secondary);
}

.btn-outline-secondary:hover {
  background-color: rgb(242, 230, 235);
}

.btn-outline-secondary:active {
  color: rgb(201, 153, 173);
}

.btn-outline-tertiary {
  color: #E6AD23;
  color: var(--color-tertiary);
}

.btn-outline-tertiary:hover {
  background-color: rgb(253, 247, 233);
}

.btn-outline-tertiary:active {
  color: rgb(245, 222, 167);
}

.btn-outline-success {
  color: #34C299;
  color: var(--color-success);
}

.btn-outline-success:hover {
  background-color: rgb(235, 249, 245);
}

.btn-outline-success:active {
  color: rgb(174, 231, 214);
}

.btn-outline-error {
  color: #DE3428;
  color: var(--color-error);
}

.btn-outline-error:hover {
  background-color: rgb(252, 235, 234);
}

.btn-outline-error:active {
  color: rgb(242, 174, 169);
}

.btn-outline-warning {
  color: #DE3428;
  color: var(--color-warning);
}

.btn-outline-warning:hover {
  background-color: rgb(252, 235, 234);
}

.btn-outline-warning:active {
  color: rgb(242, 174, 169);
}

.btn-outline-info {
  color: #16A2B8;
  color: var(--color-info);
}

.btn-outline-info:hover {
  background-color: rgb(232, 246, 248);
}

.btn-outline-info:active {
  color: rgb(162, 218, 227);
}

/* Default Button Link */
.btn-xs.btn-link,
.btn-sm.btn-link,
.btn.btn-link,
.btn-lg.btn-link,
.btn-xl.btn-link {
  color: #0c0c0c;
  color: var(--color-black);
  background-color: #FAFBFC;
  background-color: var(--color-gray-1);
}

.btn-xs.btn-link:active,
.btn-sm.btn-link:active,
.btn.btn-link:active,
.btn-lg.btn-link:active,
.btn-xl.btn-link:active {
  background-color: rgb(231, 231, 231);
}

/* Primary Button Links */
.btn-xs.btn-link-primary,
.btn-sm.btn-link-primary,
.btn.btn-link-primary,
.btn-lg.btn-link-primary,
.btn-xl.btn-link-primary {
  color: #0074CC;
  color: var(--color-primary);
  background-color: #FAFBFC;
  background-color: var(--color-gray-1);
}

.btn-xs.btn-link-primary:hover,
.btn-sm.btn-link-primary:hover,
.btn.btn-link-primary:hover,
.btn-lg.btn-link-primary:hover,
.btn-xl.btn-link-primary:hover {
  /* background-color: var(--color-gray-4); */
  /* background-color: color(var(--color-primary) tint(90%)); */
  /* background-color: color(var(--color-primary) tint(30%)); */
  /* color: var(--color-white); */

}

.btn-xs.btn-link-primary:active,
.btn-sm.btn-link-primary:active,
.btn.btn-link-primary:active,
.btn-lg.btn-link-primary:active,
.btn-xl.btn-link-primary:active {
  background-color: rgb(230, 241, 250);
}

/* Secondary Button Links */
.btn-xs.btn-link-secondary,
.btn-sm.btn-link-secondary,
.btn.btn-link-secondary,
.btn-lg.btn-link-secondary,
.btn-xl.btn-link-secondary {
  color: #790033;
  color: var(--color-secondary);
  background-color: #FAFBFC;
  background-color: var(--color-gray-1);
}

.btn-xs.btn-link-secondary:hover,
.btn-sm.btn-link-secondary:hover,
.btn.btn-link-secondary:hover,
.btn-lg.btn-link-secondary:hover,
.btn-xl.btn-link-secondary:hover {
  /* background-color: color(var(--color-secondary) tint(90%)); */
}

.btn-xs.btn-link-secondary:active,
.btn-sm.btn-link-secondary:active,
.btn.btn-link-secondary:active,
.btn-lg.btn-link-secondary:active,
.btn-xl.btn-link-secondary:active {
  background-color: rgb(242, 230, 235);
}

/* Tertiary Button Links */
.btn-xs.btn-link-tertiary,
.btn-sm.btn-link-tertiary,
.btn.btn-link-tertiary,
.btn-lg.btn-link-tertiary,
.btn-xl.btn-link-tertiary {
  color: #E6AD23;
  color: var(--color-tertiary);
  background-color: #FAFBFC;
  background-color: var(--color-gray-1);
}

.btn-xs.btn-link-tertiary:hover,
.btn-sm.btn-link-tertiary:hover,
.btn.btn-link-tertiary:hover,
.btn-lg.btn-link-tertiary:hover,
.btn-xl.btn-link-tertiary:hover {
  /* background-color: color(var(--color-tertiary) tint(90%)); */
}

.btn-xs.btn-link-tertiary:active,
.btn-sm.btn-link-tertiary:active,
.btn.btn-link-tertiary:active,
.btn-lg.btn-link-tertiary:active,
.btn-xl.btn-link-tertiary:active {
  background-color: rgb(253, 247, 233);
}

/* Success Button Links */
.btn-xs.btn-link-success,
.btn-sm.btn-link-success,
.btn.btn-link-success,
.btn-lg.btn-link-success,
.btn-xl.btn-link-success {
  color: #34C299;
  color: var(--color-success);
  background-color: #FAFBFC;
  background-color: var(--color-gray-1);
}

.btn-xs.btn-link-success:hover,
.btn-sm.btn-link-success:hover,
.btn.btn-link-success:hover,
.btn-lg.btn-link-success:hover,
.btn-xl.btn-link-success:hover {
  /* background-color: color(var(--color-success) tint(80%)); */
}

.btn-xs.btn-link-success:active,
.btn-sm.btn-link-success:active,
.btn.btn-link-success:active,
.btn-lg.btn-link-success:active,
.btn-xl.btn-link-success:active {
  background-color: rgb(235, 249, 245);
}

/* Error Button Links */
.btn-xs.btn-link-error,
.btn-sm.btn-link-error,
.btn.btn-link-error,
.btn-lg.btn-link-error,
.btn-xl.btn-link-error {
  color: #DE3428;
  color: var(--color-error);
  background-color: #FAFBFC;
  background-color: var(--color-gray-1);
}

.btn-xs.btn-link-error:hover,
.btn-sm.btn-link-error:hover,
.btn.btn-link-error:hover,
.btn-lg.btn-link-error:hover,
.btn-xl.btn-link-error:hover {
  /* background-color: color(var(--color-error) tint(80%)); */
}

.btn-xs.btn-link-error:active,
.btn-sm.btn-link-error:active,
.btn.btn-link-error:active,
.btn-lg.btn-link-error:active,
.btn-xl.btn-link-error:active {
  background-color: rgb(252, 235, 234);
}

/* Warning Button Links */
.btn-xs.btn-link-warning,
.btn-sm.btn-link-warning,
.btn.btn-link-warning,
.btn-lg.btn-link-warning,
.btn-xl.btn-link-warning {
  color: #DE3428;
  color: var(--color-warning);
  background-color: #FAFBFC;
  background-color: var(--color-gray-1);
}

.btn-xs.btn-link-warning:hover,
.btn-sm.btn-link-warning:hover,
.btn.btn-link-warning:hover,
.btn-lg.btn-link-warning:hover,
.btn-xl.btn-link-warning:hover {
  /* background-color: color(var(--color-warning) tint(80%)); */
}

.btn-xs.btn-link-warning:active,
.btn-sm.btn-link-warning:active,
.btn.btn-link-warning:active,
.btn-lg.btn-link-warning:active,
.btn-xl.btn-link-warning:active {
  background-color: rgb(252, 235, 234);
}

/* Info Button Links */
.btn-xs.btn-link-info,
.btn-sm.btn-link-info,
.btn.btn-link-info,
.btn-lg.btn-link-info,
.btn-xl.btn-link-info {
  color: #16A2B8;
  color: var(--color-info);
  background-color: #FAFBFC;
  background-color: var(--color-gray-1);
}

.btn-xs.btn-link-info:hover,
.btn-sm.btn-link-info:hover,
.btn.btn-link-info:hover,
.btn-lg.btn-link-info:hover,
.btn-xl.btn-link-info:hover {
  /* background-color: color(var(--color-info) tint(80%)); */
}

.btn-xs.btn-link-info:active,
.btn-sm.btn-link-info:active,
.btn.btn-link-info:active,
.btn-lg.btn-link-info:active,
.btn-xl.btn-link-info:active {
  background-color: rgb(232, 246, 248);
}