:root {
  -p-label-color: var(--p-text-1)
}


/* form */

/* label */

label {
  color: var(--midnight-jam);
}

label[p-location="top"] {
 display: inline-block;
 margin-bottom: 8px;
}

label[p-location="left"] {
 margin-top: 8px;
}

/* fieldset */