:root {
  --p-label-color-1: var(--p-text-1);
  --p-label-font-family-1: var(--p-font-family-1);
}


/* form */

/* label */

label {
  color: var(--p-label-color-1);
  font-family: var(--p-label-font-family-1);
}

label[p-location="top"] {
 display: inline-block;
 margin-bottom: 8px;
}

label[p-location="left"] {
 margin-top: 8px;
}

/* fieldset */