/* https://github.com/argyleink/gui-challenges/blob/main/color-schemes/style.css */

/*
# Color Theory: https://www.youtube.com/watch?v=GyVMoejbGFg

## Jewel Tones
HSB: 
- S 83-73
- B 76-56
HSL: 
- S 71-57
- L 44-35

## Pastel Tones
HSB: 
- S 14-21
- B 89-96
HSL:
- S 36-72
- L 82-86

## Earth Tones
HSB: 
- S 36-41
- B 77-36
HSL:
- S 37-26
- L 64-29

## Neutral Tones
HSB: 
- S 1-10
- B 99-70
HSL:
- S 33-10
- L 98-67

## Fluorescent Tones
HSB: 
- S 100-63
- B 100-82
HSL
- S 100-59
- L 50-56

## Shades
HSB: 
- S 0-0
- B 0-100
HSL: 
- S 0-0
- B 0-100


Neutral + Shades + a tone
*/


:root {
  /* typography */
  --p-font-family-1: initial;
  --p-font-family-2: initial;
  --p-font-family-3: initial;
  --p-font-family-4: initial;

  /* brand foundation */
  --p-brand-hue: 173;
  --p-brand-saturation: 80%;
  --p-brand-lightness: 50%;

  /* accent foundation */
  --p-accent-hue: calc(var(--p-brand-hue) + 100);
  --p-accent-saturation: 80%;
  --p-accent-lightness: 50%;

  --p-hue-leap: 40;

  --p-hue-1: var(--p-brand-hue);
  --p-hue-2: calc(var(--p-brand-hue) + calc(var(--p-hue-leap) * 1));
  --p-hue-3: calc(var(--p-brand-hue) + calc(var(--p-hue-leap) * 2));
  --p-hue-4: calc(var(--p-brand-hue) + calc(var(--p-hue-leap) * 3));
  --p-hue-5: calc(var(--p-brand-hue) + calc(var(--p-hue-leap) * 4));
  --p-hue-6: calc(var(--p-brand-hue) + calc(var(--p-hue-leap) * 5));
  --p-hue-7: calc(var(--p-brand-hue) + calc(var(--p-hue-leap) * 6));
  --p-hue-8: calc(var(--p-brand-hue) + calc(var(--p-hue-leap) * 7));
  --p-hue-9: calc(var(--p-brand-hue) + calc(var(--p-hue-leap) * 8));
  /* --p-hue-1: 10;
  --p-hue-2: 70;
  --p-hue-3: 140;
  --p-hue-4: 210;
  --p-hue-5: 270; */

  /* Jewel */
  --p-jewel-saturation: 65%;
  --p-jewel-lightness: 40%;
  --p-jewel-1: hsl(var(--p-hue-1) var(--p-jewel-saturation) var(--p-jewel-lightness));
  --p-jewel-2: hsl(var(--p-hue-2) var(--p-jewel-saturation) var(--p-jewel-lightness));
  --p-jewel-3: hsl(var(--p-hue-3) var(--p-jewel-saturation) var(--p-jewel-lightness));
  --p-jewel-4: hsl(var(--p-hue-4) var(--p-jewel-saturation) var(--p-jewel-lightness));
  --p-jewel-5: hsl(var(--p-hue-5) var(--p-jewel-saturation) var(--p-jewel-lightness));
  --p-jewel-6: hsl(var(--p-hue-6) var(--p-jewel-saturation) var(--p-jewel-lightness));
  --p-jewel-7: hsl(var(--p-hue-7) var(--p-jewel-saturation) var(--p-jewel-lightness));
  --p-jewel-8: hsl(var(--p-hue-8) var(--p-jewel-saturation) var(--p-jewel-lightness));
  --p-jewel-9: hsl(var(--p-hue-9) var(--p-jewel-saturation) var(--p-jewel-lightness));

  /* Pastel */
  --p-pastel-saturation: 40%;
  --p-pastel-lightness: 84%;
  --p-pastel-1: hsl(var(--p-hue-1) var(--p-pastel-saturation) var(--p-pastel-lightness));
  --p-pastel-2: hsl(var(--p-hue-2) var(--p-pastel-saturation) var(--p-pastel-lightness));
  --p-pastel-3: hsl(var(--p-hue-3) var(--p-pastel-saturation) var(--p-pastel-lightness));
  --p-pastel-4: hsl(var(--p-hue-4) var(--p-pastel-saturation) var(--p-pastel-lightness));
  --p-pastel-5: hsl(var(--p-hue-5) var(--p-pastel-saturation) var(--p-pastel-lightness));
  --p-pastel-6: hsl(var(--p-hue-6) var(--p-pastel-saturation) var(--p-pastel-lightness));
  --p-pastel-7: hsl(var(--p-hue-7) var(--p-pastel-saturation) var(--p-pastel-lightness));
  --p-pastel-8: hsl(var(--p-hue-8) var(--p-pastel-saturation) var(--p-pastel-lightness));
  --p-pastel-9: hsl(var(--p-hue-9) var(--p-pastel-saturation) var(--p-pastel-lightness));

  /* Earth */
  --p-earth-saturation: 30%;
  --p-earth-lightness: 45%;
  --p-earth-1: hsl(var(--p-hue-1) var(--p-earth-saturation) var(--p-earth-lightness));
  --p-earth-2: hsl(var(--p-hue-2) var(--p-earth-saturation) var(--p-earth-lightness));
  --p-earth-3: hsl(var(--p-hue-3) var(--p-earth-saturation) var(--p-earth-lightness));
  --p-earth-4: hsl(var(--p-hue-4) var(--p-earth-saturation) var(--p-earth-lightness));
  --p-earth-5: hsl(var(--p-hue-5) var(--p-earth-saturation) var(--p-earth-lightness));
  --p-earth-6: hsl(var(--p-hue-6) var(--p-earth-saturation) var(--p-earth-lightness));
  --p-earth-7: hsl(var(--p-hue-7) var(--p-earth-saturation) var(--p-earth-lightness));
  --p-earth-8: hsl(var(--p-hue-8) var(--p-earth-saturation) var(--p-earth-lightness));
  --p-earth-9: hsl(var(--p-hue-9) var(--p-earth-saturation) var(--p-earth-lightness));

  /* Neutral */
  --p-neutral-saturation: 20%;
  --p-neutral-lightness: 80%;
  --p-neutral-1: hsl(var(--p-hue-1) var(--p-neutral-saturation) var(--p-neutral-lightness));
  --p-neutral-2: hsl(var(--p-hue-2) var(--p-neutral-saturation) var(--p-neutral-lightness));
  --p-neutral-3: hsl(var(--p-hue-3) var(--p-neutral-saturation) var(--p-neutral-lightness));
  --p-neutral-4: hsl(var(--p-hue-4) var(--p-neutral-saturation) var(--p-neutral-lightness));
  --p-neutral-5: hsl(var(--p-hue-5) var(--p-neutral-saturation) var(--p-neutral-lightness));
  --p-neutral-6: hsl(var(--p-hue-6) var(--p-neutral-saturation) var(--p-neutral-lightness));
  --p-neutral-7: hsl(var(--p-hue-7) var(--p-neutral-saturation) var(--p-neutral-lightness));
  --p-neutral-8: hsl(var(--p-hue-8) var(--p-neutral-saturation) var(--p-neutral-lightness));
  --p-neutral-9: hsl(var(--p-hue-9) var(--p-neutral-saturation) var(--p-neutral-lightness));

  /* Neutral */
  --p-neon-saturation: 90%;
  --p-neon-lightness: 50%;
  --p-neon-1: hsl(var(--p-hue-1) var(--p-neon-saturation) var(--p-neon-lightness));
  --p-neon-2: hsl(var(--p-hue-2) var(--p-neon-saturation) var(--p-neon-lightness));
  --p-neon-3: hsl(var(--p-hue-3) var(--p-neon-saturation) var(--p-neon-lightness));
  --p-neon-4: hsl(var(--p-hue-4) var(--p-neon-saturation) var(--p-neon-lightness));
  --p-neon-5: hsl(var(--p-hue-5) var(--p-neon-saturation) var(--p-neon-lightness));
  --p-neon-6: hsl(var(--p-hue-6) var(--p-neon-saturation) var(--p-neon-lightness));
  --p-neon-7: hsl(var(--p-hue-7) var(--p-neon-saturation) var(--p-neon-lightness));
  --p-neon-8: hsl(var(--p-hue-8) var(--p-neon-saturation) var(--p-neon-lightness));
  --p-neon-9: hsl(var(--p-hue-9) var(--p-neon-saturation) var(--p-neon-lightness));

  /* light */
  --p-brand-light: hsl(
    var(--p-brand-hue) var(--p-brand-saturation) var(--p-brand-lightness)
  );
  --p-accent-light: hsl(var(--p-accent-hue) var(--p-accent-saturation) var(--p-accent-lightness));
  --p-text-1-light: hsl(var(--p-brand-hue) var(--p-brand-saturation) 10%);
  --p-text-2-light: hsl(var(--p-brand-hue) 30% 30%);
  --p-surface-1-light: hsl(var(--p-brand-hue) 25% 90%);
  --p-surface-2-light: hsl(var(--p-brand-hue) 20% 99%);
  --p-surface-3-light: hsl(var(--p-brand-hue) 20% 92%);
  --p-surface-4-light: hsl(var(--p-brand-hue) 20% 85%);
  --p-surface-shadow-light: var(--p-brand-hue) 10% 20%;
  --p-shadow-strength-light: 0.02;

  /* dark */
  --p-brand-dark: hsl(
    var(--p-brand-hue) calc(var(--p-brand-saturation) / 2)
      calc(var(--p-brand-lightness) / 1.5)
  );
  --p-accent-dark: hsl(var(--p-accent-hue) calc(var(--p-accent-saturation) / 2) calc(var(--p-accent-lightness) / 1.5));
  --p-text-1-dark: hsl(var(--p-brand-hue) 15% 85%);
  --p-text-2-dark: hsl(var(--p-brand-hue) 5% 65%);
  --p-surface-1-dark: hsl(var(--p-brand-hue) 10% 10%);
  --p-surface-2-dark: hsl(var(--p-brand-hue) 10% 15%);
  --p-surface-3-dark: hsl(var(--p-brand-hue) 5% 20%);
  --p-surface-4-dark: hsl(var(--p-brand-hue) 5% 25%);
  --p-surface-shadow-dark: var(--p-brand-hue) 50% 3%;
  --p-shadow-strength-dark: 0.8;

  /* dim */
  --p-brand-dim: hsl(
    var(--p-brand-hue) calc(var(--p-brand-saturation) / 1.25)
      calc(var(--p-brand-lightness) / 1.25)
  );
  --p-accent-dim: hsl(var(--p-accent-hue) calc(var(--p-accent-saturation) / 1.25) calc(var(--p-accent-lightness) / 1.25));
  --p-text-1-dim: hsl(var(--p-brand-hue) 15% 75%);
  --p-text-2-dim: hsl(var(--p-brand-hue) 10% 61%);
  --p-surface-1-dim: hsl(var(--p-brand-hue) 10% 20%);
  --p-surface-2-dim: hsl(var(--p-brand-hue) 10% 25%);
  --p-surface-3-dim: hsl(var(--p-brand-hue) 5% 30%);
  --p-surface-4-dim: hsl(var(--p-brand-hue) 5% 35%);
  --p-surface-shadow-dim: var(--p-brand-hue) 30% 13%;
  --p-shadow-strength-dim: 0.2;

  color-scheme: light;

  /* set defaults */
  --p-brand: var(--p-brand-light);
  --p-accent: var(--p-accent-light);
  --p-text-1: var(--p-text-1-light);
  --p-text-2: var(--p-text-2-light);
  --p-surface-1: var(--p-surface-1-light);
  --p-surface-2: var(--p-surface-2-light);
  --p-surface-3: var(--p-surface-3-light);
  --p-surface-4: var(--p-surface-4-light);
  --p-surface-shadow: var(--p-surface-shadow-light);
  --p-shadow-strength: var(--p-shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --p-brand: var(--p-brand-dark);
    --p-accent: var(--p-accent-dark);
    --p-text-1: var(--p-text-1-dark);
    --p-text-2: var(--p-text-2-dark);
    --p-surface-1: var(--p-surface-1-dark);
    --p-surface-2: var(--p-surface-2-dark);
    --p-surface-3: var(--p-surface-3-dark);
    --p-surface-4: var(--p-surface-4-dark);
    --p-surface-shadow: var(--p-surface-shadow-dark);
    --p-shadow-strength: var(--p-shadow-strength-dark);
  }
}

[color-scheme='light'] {
  color-scheme: light;

  --p-brand: var(--p-brand-light);
  --p-accent: var(--p-accent-light);
  --p-text-1: var(--p-text-1-light);
  --p-text-2: var(--p-text-2-light);
  --p-surface-1: var(--p-surface-1-light);
  --p-surface-2: var(--p-surface-2-light);
  --p-surface-3: var(--p-surface-3-light);
  --p-surface-4: var(--p-surface-4-light);
  --p-surface-shadow: var(--p-surface-shadow-light);
  --p-shadow-strength: var(--p-shadow-strength-light);
}

[color-scheme='dark'] {
  color-scheme: dark;

  --p-brand: var(--p-brand-dark);
  --p-accent: var(--p-accent-dark);
  --p-text-1: var(--p-text-1-dark);
  --p-text-2: var(--p-text-2-dark);
  --p-surface-1: var(--p-surface-1-dark);
  --p-surface-2: var(--p-surface-2-dark);
  --p-surface-3: var(--p-surface-3-dark);
  --p-surface-4: var(--p-surface-4-dark);
  --p-surface-shadow: var(--p-surface-shadow-dark);
  --p-shadow-strength: var(--p-shadow-strength-dark);
}

[color-scheme='dim'] {
  color-scheme: dark;

  --p-brand: var(--p-brand-dim);
  --p-accent: var(--p-accent-dim);
  --p-text-1: var(--p-text-1-dim);
  --p-text-2: var(--p-text-2-dim);
  --p-surface-1: var(--p-surface-1-dim);
  --p-surface-2: var(--p-surface-2-dim);
  --p-surface-3: var(--p-surface-3-dim);
  --p-surface-4: var(--p-surface-4-dim);
  --p-surface-shadow: var(--p-surface-shadow-dim);
  --p-shadow-strength: var(--p-shadow-strength-dim);
}
