@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap");

/* Variables */
:root {
  --levatation-matrix: matrix(1, 0, 0, 1, 4, -4);
  --levatation-box-shadow: -4px 4px 0px 0px;

  /* primary */
  --color-primary: var(--white);
  --bgd-color-primary: var(--magic-night);
  --border-color-primary: var(--space-convoy);
  --shadow-color-primary: var(--extreme);

  /* outline */
  --color-outline: var(--midnight-jam);
  --bgd-color-outline: var(--white);
  --border-color-outline: var(--space-convoy);
  --shadow-color-outline: var(--stone-blue);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: var(--magic-night); 
}

/* label */

label {
  color: var(--midnight-jam);
}

label[p-location="top"] {
 display: inline-block;
 margin-bottom: 8px;
}

label[p-location="left"] {
 margin-top: 8px;
}


/* input */

/* TODO: Add some different size of */

input {
  font: 400 14px Inter;
}

input[p-type="primary"] {
  padding: 8px;
  color: var(--color-primary);
  background-color: var(--bgd-color-primary);
  border-radius: 6px;
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--border-color-primary);
  width: 100%;
  outline: none;
  transition: box-shadow 240ms, transform 240ms;
}

input[p-type="primary"]:hover {
  /* transform: var(--levatation-matrix); */
  /* box-shadow: var(--levatation-box-shadow) var(--shadow-color-primary); */
  /* box-shadow: var(--levatation-box-shadow) var(--shadow-color-primary); */
  /* outline: solid orange 4px; */
}

input[p-type="primary"]:focus {
  transform: var(--levatation-matrix);
  box-shadow: var(--levatation-box-shadow) var(--shadow-color-primary);
}

/* --color-outline: var(--midnight-jam);
--bgd-color-outline: var(--white);
--border-color-outline: var(--space-convoy);
--shadow-color-outline: var(--stone-blue); */
input[p-type="outline"] {
  padding: 8px;
  border-color: var(--border-color-outline);
  color: var(--color-outline);
  border-radius: 6px;
  border-width: 0.5px;
  border-style: solid;
  background: var(--bgd-color-outline);
  width: 100%;
  transition: box-shadow 240ms, transform 240ms;
}

input[p-type="outline"]:hover {
  outline: none;
  transform: var(--levatation-matrix);
  box-shadow: var(--levatation-box-shadow) var(--shadow-color-outline);
}

input[p-type="outline"]:focus {
  outline: none;
  transform: var(--levatation-matrix);
  box-shadow: var(--levatation-box-shadow) var(--shadow-color-outline);
}


/* textarea */

textarea {
  font: 400 14px Inter;
  width: 100%;
  outline: none;
}

textarea[p-type="primary"] {
  padding: 8px;
  color: var(--color-primary);
  background-color: var(--bgd-color-primary);
  border-radius: 6px;
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--border-color-primary);
  transition: box-shadow 240ms, transform 240ms;
}

textarea[p-type="primary"]:hover {
  transform: var(--levatation-matrix);
  box-shadow: var(--levatation-box-shadow) var(--bgd-color-primary);
}

textarea[p-type="primary"]:focus {
  transform: var(--levatation-matrix);
  box-shadow: var(--levatation-box-shadow) var(--bgd-color-primary);
}

textarea[p-type="outline"] {
  padding: 8px;
  border-color: var(--border-color-outline);
  color: var(--color-outline);
  border-radius: 6px;
  border-width: 0.5px;
  border-style: solid;
  background: var(--bgd-color-outline);
  transition: box-shadow 240ms, transform 240ms;
}

textarea[p-type="outline"]:hover {
  transform: var(--levatation-matrix);
  box-shadow: var(--levatation-box-shadow) var(--shadow-color-outline);
}

textarea[p-type="outline"]:focus {
  transform: var(--levatation-matrix);
  box-shadow: var(--levatation-box-shadow) var(--shadow-color-outline);
}

/* buttons */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  word-break: keep-all;
  outline: none;
  border-radius: 6px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  margin: 0;
  transition: box-shadow 240ms, transform 240ms;
}

button[p-type="primary"]:hover {
  transform: var(--levatation-matrix);
  box-shadow: var(--levatation-box-shadow) var(--greenland-blue);
}

button[p-type="primary"]:focus {
  transform: var(--levatation-matrix);
  box-shadow: var(--levatation-box-shadow) var(--greenland-blue);
}

button[p-type="primary"]:active {
  transform: matrix(1, 0, 0, 1, 3, -3);
  box-shadow: -3px 3px 0px 0px var(--greenland-blue);
}

button[p-type="primary"] {
  background-color: var(--atlantic-deep);
  color: var(--white);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 75, 75);
}

button[p-type="outline"] {
  border-color: var(--blue-angora);
  color: var(--primary-dark);
  border-radius: 6px;
  border-width: 0.5px;
  border-style: solid;
  background: white;
}

button[p-type="outline"]:hover {
  transform: var(--levatation-matrix);
  box-shadow: var(--levatation-box-shadow) var(--space-convoy);
}

button[p-type="outline"]:focus {
  transform: var(--levatation-matrix);
  box-shadow: var(--levatation-box-shadow) var(--atlantic-deep);  
}

button[p-type="outline"]:active {
  transform: matrix(1, 0, 0, 1, 3, -3);
  box-shadow: -3px 3px 0px 0px var(--atlantic-deep);
}

button[p-size="xs"] {
  font-size: 12px;
  padding: 0 16px;
  height: 24px;
}

button[p-size="sm"] {
  font-size: 14px;
  padding: 0 24px;
  height: 32px;
}

button[p-size="md"] {
  font-size: 16px;
  padding: 0 24px;
  height: 40px;
}

button[p-size="lg"] {
  font-size: 17px;
  padding: 12px 30px;
  height: 44px;
}

/* lists */

ul {
  
}

li {

}

ol {

}


blockquote {

}

/* details */

details {

}

summary {

}

/* datalist */

datalist {
  
}
